*{
  font-family: sans-serif;
}


/*setting body margin*/
body {
  padding:0px; margin: 0;
}
/* Page content */
  .content {
    margin-top: 60px;
  }
  
.header {
  background-color: #f1f1f1;
  padding: 10px;
}

/*---Nav bar styling---*/

/* Styling the navbar */
#navbar {
    overflow: hidden;
    background-color: rgba(212, 85, 35, 0.171);
  }
/*---Styling the links---*/
.nav-link{
  float: left;
  display: block;
  color: #d8dee7;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  margin:auto;
}

/* styling the active link on nav bar,*/
.nav-link[aria-current="page"]{
  text-decoration: underline rgb(255, 218, 56) 0.2rem;
  text-underline-offset: 0.27rem;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}



/*Styling the nav bar no hover and not active*/
ul{
  display: flex;
  justify-content: center;
}

li{
  list-style: none;
  margin-left:30px;
}

li a{
  text-decoration: none;
}

/*---Styling the nav bar when hovering---*/
li a::after{
  content: ' ';
  width: 0;
  height: 3px;
  text-underline-offset: 0.5rem;
  background-color: rgb(255, 218, 56);
  margin: auto;
  display: block;
}

li a:hover:after{
  width: 100%; 
  transition: width 0.3s linear;
  margin-top: 0px;
}

li a:hover{
  color: #d8dee7;
}
/*---Home page styling---*/
/*styling the homepage image */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/*---Styling the menu page---*/
/*---Styling the menu nav bar---*/
#menubar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.089);
    position: fixed;
    width:100%;
  }
    
#menubar a {
  float: left;
  display: block;
  color: #d8dee7;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
/*Styling the menu nav bar on hover*/
#menubar a:hover {
  background-color: rgba(245, 207, 80, 0.63);
  color: black;
} 

/*Styling the text*/    
/* h1 is for the title on each page*/
h1 {
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }

/* h2 is heading for each section*/
h2 {
    color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: left;
  }
h3{
  font-size:medium;
}


/* button text - should add a button styling class*/
h4 {
  color: rgb(48, 48, 48);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: left;
  }

  
/* h5 is for sub-heading */
h5{
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*table stylinng */ 
table.center {
  margin-left: auto;
  margin-right: auto;
}


th {
  color: rgb(48, 48, 48);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}



.table-styling
{
  border-collapse: collapse;
}
.width{
  width: 90px;
}


/*---Styling the delete button---*/


/* making content in a container flex on */

@media only screen and (min-width: 200px) and (max-width: 500px){
  .container{
    width: 350px;
    flex-direction: column;
  }
  .cards{
    margin: 10px;
  }
}