*{
  font-family: sans-serif;
}
/*setting body margin*/
body {
  margin: 0;
}
/* Page content */
  .content {
    margin-top: 60px;
  }
  
.header {
  background-color: #f1f1f1;
  padding: 10px;
}

/* The nav bar takes up the whole width - removes padding*/
html,body {
  padding:0; margin:0;
}




/* Styling the navbar */
#navbar {
    overflow: hidden;
    background-color: rgb(212, 85, 35);
  }
  

.nav-link{
  float: left;
  display: block;
  color: #d8dee7;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  margin:auto;
}

/*#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
  }*/

/* styling the active link on nav bar,*/
.nav-link[aria-current="page"]{
    text-decoration: underline green 0.15rem;
    text-underline-offset: 0.5rem;
  }

ul{
  display: flex;
  justify-content: center;
}

li{
  list-style: none;
  margin-left:30px;
}

li a{
  text-decoration: none;
  color:#da2c91;
}

li a::after{
  content: ' ';
  width: 0;
  height: 3px;
  background-color: cornflowerblue;
  margin: auto;
  display: block;
}

li a:hover:after{
  width: 100%; 
  transition: width 0.3s linear;
  margin-top: 0px;
}

li a:hover{
  color: cornflowerblue;
}
/*this method of hover made the lien too long
.nav{
  display: grid;
  place-items: center;
}
 ul{
  display: flex;
  list-style:none; 
}
 ul li a{
  text-decoration: none;
  margin: 0 25px;
  position: relative;
}

 ul li a:after{
 content: '' ;
 position: absolute;
 width:100%;
 height: 3px;
 text-decoration: underline 0;
 background-color: #ecdee7;
 bottom: 0;
 left: 0;
 transform: scaleX(0);
 transform-origin: bottom right;
 transition: transform 0.25s linear;
}

 ul li a:hover:after{
  text-decoration: underline 100%;
  transform-origin: bottom left; 
  transform: scaleX(1);
}*/

/*li a:hover {
  text-decoration:underline;
}*/
/*
ul{
  list-style-type:none;
  display: flex;
}
  
*ul li{
    cursor: pointer;
    position: relative;
    text-align: center;
    display:inline-block;
  }
  
a:after {
    position: absolute;
    content: "";
    height: 0.15rem;
    width: 0;
    background-color: green;
    left: 0;
    bottom: 0.5rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: 0.5s;
  }
a:hover:after{
  width:100%;
}*/

/*styling the homepage image */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0px;
    width: 100%;
  }
  

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }


  #menubar {
    overflow: hidden;
    background-color: #333;}
    
    #menubar a {
    float: left;
    display: block;
    color: #d8dee7;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    }
    #menubar a:hover {
    background-color: rgba(245, 207, 80, 0.63);
    color: black;
    } 
    
/* h1 is for the title on each page*/
h1 {
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }

/* h2 is for texts in tables */
h2 {
    color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
  }

/* th and nav bar text */
  
/* h5 is for sub-heading */
  h5{
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* button text */
  h4 {
    color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
  }

/*table stylinng */ 
  table.center {
    margin-left: auto;
    margin-right: auto;
}

th {
  color: rgb(48, 48, 48);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}

.hover:hover 
{
  background-color: #da2c91;
}

.table-styling
{
  border-collapse: collapse;
}
.width{
  width: 90px;
}

/*section styling*/
.section{
  width:100%;
  height: 10000px;
  background-size: cover;
  background-color: lightcoral;
  padding-bottom: 50px;
}

.section h1{
  text-align: center;
}
/*container styling*/
.container{
  width: 70%;
  flex-wrap: wrap;
  justify-content:  space-between;
  display:flex;
  margin:auto;
  border:rgb(48, 48, 0)
}
/*card styling */
.cards{
  flex-basis: 45%;
  margin: 10px 20px 10px 10px;
  background-color: white;
  box-shadow: 0px 0px 3px 0px black;
}

.row{
  width: 60%;
  flex-wrap: wrap;
  display:flex;
  margin:auto;
  border:rgb(48, 48, 0);
}
/*div styling for order page 
.column{
  border-bottom: solid;
  border-color: #333;
  border-width: 2px;
}

.Quantity{
  width:10%;
  background: rgb(214, 201, 193);
  height: 50px;
  margin: 0px;
  box-sizing: border-box;
  padding: 0.5pc 0.3pc;
}

.Item{
  width:35%;
  background: rgb(214, 201, 193);
  height: 50px;
  margin: 0px;
  box-sizing: border-box;
  padding: 0.5pc 0.3pc;
}

.Description{
  width:40%;
  background:rgb(214, 201, 193);
  height: 50px;
  margin: 0px;
  box-sizing: border-box;
  padding: 0.5pc 0.3pc;

}

.Price{
  width: 15%;
  background:rgb(214, 201, 193);
  height: 50px;
  margin: auto;
  box-sizing: border-box;
  padding: 0.5pc 0.3pc;
} */

/* making content in a container flex*/

@media only screen and (min-width: 200px) and (max-width: 500px){
  .container{
    width: 350px;
    flex-direction: column;
  }
  .cards{
    margin: 10px;
  }

  

}