<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{url_for('static',filename='stickymenu.css')}}>
    </head>
<!--nav bar area-->
<nav>
    <div id="navbar">
        <ul>
            <li><a href="http://127.0.0.1:5000/" class="nav-link">Home</a></li>
            <li><a href="http://127.0.0.1:5000/menu" class="nav-link">Menu</a></li>
            <li><a href="http://127.0.0.1:5000/orders" class="nav-link">Your order</a></li>
            <li><a href="http://127.0.0.1:5000/faq" class="nav-link">FAQ</a></li>
            <li><a href="http://127.0.0.1:5000/tester" class = "nav-link">Tester</a></li>
        </ul>
        
    </div>
</nav>
<!---Nav bar Area finishes -->
        
{% block content%}
{% endblock %}

<script>
    // When the user scrolls the page, execute myFunction
window.onscroll = function() {home()};
// Get the navbar
var navbar = document.getElementById("navbar");
// Get the offset position of the navbar
var sticky = navbar.offsetTop
// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function home() {
if (window.pageYOffset >= sticky) {
navbar.classList.add("sticky")
} else {
navbar.classList.remove("sticky");
}
}

document.querySelectorAll('.nav-link').forEach
(link=> {
    if(link.href === window.location.href){
        link.setAttribute('aria-current', 'page')
    }
})

/* only worked when active page was hard coded in*/
    const items = document.querySelectorAll("ul li");
    items.forEach((item) => {
        item.addEventListener("click", () => {
            document.querySelector("li.active").classList.remove("active");
            item.classList.add("active");
    });
    });  
</script>
</html>