{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href={{url_for('static',filename='stickymenu.css')}}>
</head>
<title>Home page</title>
<style>

table.timetable {
        margin-left: auto;
        margin-right: auto;
        font-size: medium;
      }
td{
  width: 90px;
}
    
    </style>
<body>
    <div class="content">
    <h1>Welcome to the home page</h1>
    <img src= "static/img/indexpagefiller.png" alt="shop front">
<p>
  <h5>OPENING HOURS</h5>
  
  <table class="timetable">
    <tr>
      <td>Monday</td> <td>12:00 - 8:00</td></tr>
      <td>Tuesday</td> <td>Closed</td> </tr>
      <td>Wednesday</td> <td>12:00 - 8:00</td></tr>
      <td>Thursday</td> <td>12:00 - 8:30</td></tr>
      <td>Friday</td> <td>12:00 - 8:30</td></tr>
      <td>Saturday</td> <td>12:00 - 8:30</td></tr>
      <td>Sunday</td> <td>12:00 - 8:30</td></tr>
  </table>
</p>    
</div>

</body>
</html>
{% endblock %}