
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    <link rel="stylesheet" href={{url_for('static',filename='stickymenu.css')}}>
</head>

<style>

/*applying CSS grid to the content*/
.content{
    display:grid;
    height: 100vh;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "menu order-sidebar";
    grid-gap:0.5rem 1.0rem;

}

/*Styling nav tag*/
nav{
    position: sticky;
    grid-area: nav;
}

/*Rearranging grid elements when sxreen size reaches 700px*/
@media only screen and (max-width:700px){
    .content{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1.5fr 0.7fr;
        grid-template-areas: 
            "nav"
            "menu"
            "order-sidebar"
        ;
    }
}

h6{
    text-align: right;
}



</style>

<body>
    <!---Menu/ navigation bar begins-->
    <nav>
        <div id="navbar" class="nav">
            <ul>
                <li><a href="http://127.0.0.1:5000/" class="nav-link hover">Home</a></li>
                <li><a href="http://127.0.0.1:5000/menu" class="nav-link hover">Menu</a></li>
            </ul>
            </div>
    <div id="menubar">
        <h1>MENU</h1>
        <ul>
            <li><a href="http://127.0.0.1:5000/menu#popular">Popular</a></li>
            <li><a href="http://127.0.0.1:5000/menu#chips">Chips</a></li>
            <li><a href="http://127.0.0.1:5000/menu#fish">Fish</a></li>
        </ul>
    </div>
</nav>
<!--- Menu/ navigation bar section ends-->

<div class="content">
<!---Displaying menu grid-->    
<div id="menu">
        <br>
        <br>
        <br>
<!--Displaying menu items that are popular-->
        <h1 id="popular"> Popular</h1>
    {% for item in popular%}
    <div class="item">
    <div id="name">{{item [1]}}</div>
    <div id="price">{{item [3]}}</div>
    <div id="add">
        <form action="/add" method="post">
        <input type="hidden" name="item" value="{{item[0]}}">
        <input type="submit" value="add">
        </form></div>
    <div id="description">{{item [2]}}</div>
    <br>
    </div>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<!--Displaying menu items that are chips-->
    <h1 id="chips">Chips</h1>
    {% for item in chips%}
    <div class="item">
    <div id="name">{{item [1]}}</div>
    <div id="price">{{item [3]}}</div>
    <div id="add">
        <form action="/add" method="post">
        <input type="hidden" name="item" value="{{item[0]}}">
        <input type="submit" value="add">
        </form></div>
<div id="description">{{item [2]}}</div>
<br>
</div>
<br>
{% endfor %}
<!--Displaying menu items that are fish-->
<h1 id="fish">Fish</h1>
    {% for item in chips%}
    <div class="item">
    <div id="name">{{item [1]}}</div>
    <div id="price">{{item [3]}}</div>
    <div id="add">
        <form action="/add" method="post">
        <input type="hidden" name="item" value="{{item[0]}}">
        <input type="submit" value="add">
        </form></div>
<div id="description">{{item [2]}}</div>
<br>
</div>
<br>
{% endfor %}

</div>


    
<!---Displaying the cart-grid-->
<div id ="order-sidebar">
    <br>
    <br>
    <br>
    <h1>Cart</h1>
        <table class="center">
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
        {% for item in distinct %}
      <tr>
          <td><h3>{{ item [4] }}x</h3></td>
          <td><h3>{{ item [1] }}</h3></td>
          <td><h3>{{ item [2] }}</h3></td>
          <td><h3>{{ item [3]}}</h3></td>
          <td>
                <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{item[0]}}">
                <input class = "button" type="submit" value="delete">
                </form>
          {% endfor %}
    </div>
                
    </body>
    <script>
        // When the user scrolls the page, execute home function
    window.onscroll = function() {home()};
    // Get the navbar
    var navbar = document.getElementById("navbar");
    // Get the offset position of the navbar
    var sticky = navbar.offsetTop
    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function home() {
    if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
    }
//select the active route and put active class styling on it
    document.querySelectorAll('.nav-link').forEach
    (link=> {
        if(link.href === window.location.href){
            link.setAttribute('aria-current', 'page')
        }
    })
    

/*find the height of nav bar and add this to scroll padding*/
    const navigationHeight = document.querySelector('nav').offsetHeight
        document.documentElement.style.setProperty('--scroll-padding', navigationHeight + 160 + "px");
</script>
</html>







