{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    <link rel="stylesheet" href={{url_for('static',filename='stickymenu.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='text.css')}}>
</head>


<body>
    <div class="content">
    <h1>MENU</h1>
    <div id="menubar">
        <a href="http://127.0.0.1:5000/menu#chips">Chips</a>
        <a href="http://127.0.0.1:5000/menu#fish">Fish</a>
        <a href="http://127.0.0.1:5000/menu#popular">Popular</a>
    </div>


    
<!---Chips section-->
    <h2 id="chips">Chips</h2>            
        <div class="container">
        {% for item in chips%}
        <div class="cards">
        <h3>{{item[1]}}               {{item[3]}}</h3> 
        <p>{{item [2]}}</p>
        <form action="/add" method="post">
        <input type="hidden" name="item" value="{{item[0]}}">
        <input type="submit" value="add">
        </form>
    </div>
    {% endfor %}  
    </div>
    <h2 id="fish">Fish</h2>            
    <div class="container">
    {% for item in fish%}
    <div class="cards">
    <h3>{{item[1]}} {{item[3]}}</h3>
    <p>{{item [2]}}</p>
    <form action="/add" method="post">
    <input type="hidden" name="item" value="{{item[0]}}">
    <input type="submit" value="add">
    </form>
</div>
{% endfor %}  
</div>

<!---Popular section-->
<h2 id="popular">Popular</h2>            
        <div class="container">
        {% for item in popular%}
        <div class="cards">
        <h3>{{item[1]}} {{item[3]}}</h3>
        <p>{{item [2]}}</p>
        <form action="/add" method="post">
        <input type="hidden" name="item" value="{{item[0]}}">
        <input type="submit" value="add">
        </form>
    </div>
    {% endfor %}  
    </div>
    <h2 id="fish">Fish</h2> 
    <table class="center table-hover">     
         {% for item in fish%}
         <tr>    
             <td><h2>{{ item [0] }}</h2></td>
             <td><h2>{{ item [1] }}</h2></td>
             <td><h2>{{ item [2] }}</h2></td>
             <td>
                 <form action="/add" method="post">
                 <input type="hidden" name="item" value="{{item[0]}}">
                 <input type="submit" value="add">
                 </form>
             </td>
         </tr>
         {% endfor %}

</div>

            
           
            <!---
            
            
                <table class="center table-hover">
                    <h2 id="popular">Popular</h2>
                    {% for item in popular%}
                    <tr>    
                        <td><h2>{{ item [0] }}</h2></td>
                        <td><h2>{{ item [1] }}</h2></td>
                        <td><h2>{{ item [2] }}</h2></td>
                        <td>
                            <form action="/add" method="post">
                            <input type="hidden" name="item" value="{{item[0]}}">
                            <input type="submit" value="add">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>--->
    
                
    </body>
 

</html>
{% endblock %}







