<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Page</title>
    
</head>

<body>

<link rel="stylesheet" href={{url_for('static',filename='stickymenu.css')}}>
<!---<link rel="stylesheet" href={{url_for('static',filename='text.css')}}>--->

  <div id="navbar">
      <a href="http://127.0.0.1:5000/home">Home</a>
      <a href="http://127.0.0.1:5000/menu">Menu</a>
      <a class = "active" href="http://127.0.0.1:5000/orders">Your order</a>
      <a href="http://127.0.0.1:5000/faq">FAQ</a>
    </div>
  <div class="content">
  <h1>YOUR ITEMS</h1>
  <table class="center table-styling">
      <tr>
        <th>Quantity</th>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
        <th>Delete?</th>
      </tr>

      <tr class ="hover table-styling">
        {% for item in count%}
        <tr><h2>{{ item [1] }}</h2></tr>
        {% endfor%}
  {% for item in distinct%}
    <td><h2>{{ item [1] }}</h2></td>
    <td><h2>{{ item [2] }}</h2></td>
    <td><h2>{{ item [3] }}</h2></td>
    <td>
      <form action="/delete" method="post">
        <input type="hidden" name="id" value="{{item[0]}}">
        <input type="submit" value="delete">
      </form>
    </td>  
</tr>
{% endfor %}
  
  
  </table>
  </div>
  <script>
    window.onscroll = function() {myFunction()};
    
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script>
</body>
</html>